@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body class="homeBack">
    <h1>Rotten Potatoes</h1>
    <h3>Check out the sentiment ratings for your favorite movies and actors!</h3>
    
</body>
</html>
